[tool.poetry]
name = "VSB"
version = "0.1.0"
description = "A vector search benchmarking suite, built on the Locust framework"
authors = ["Pinecone Systems, Inc. <support@pinecone.io>"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.11"
locust = "^2.27.0"
pandas = "^2.2.1"
google-cloud-storage = "^2.14.0"
grpcio = "^1.64.0"
pyarrow = "^16.1.0"
pinecone-client = {version = "^4.1", extras = ["grpc"]}
tabulate = "^0.9.0"
pydantic = "^2.7.1"
locust-plugins = "^4.4.3"


[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
pytest = "^8.2.1"
flake8 = "^7.0.0"
pre-commit = "^3.7.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
